<div class="under-construction">    
</div>

<header class="global-header">
    <nav class="navbar navbar-fixed-top global-nav">
        <div class="container">
            <a class="nabvar-brand" href="/">
                <img alt="VeeSee" src="img/logo.png">
            </a>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="btn btn-primary" role="button" href="#login">Login</a>
                </li>
                <li class="active">
                    <a class="btn btn-default"  href="#about">About</a>
                </li>
            </ul><!-- .nav.navbar-nav.navbar-right -->
        </div><!-- .container -->
    </nav><!-- .navbar.navbar-fixed-top -->
</header><!-- .global-header -->


<div class="container below-fold full-height">
    <div class="middle-align">
        <div class="row">
            <div class="col-md-12">
                <h3 class="copy em">
                    Raising money from an investor today   
                </h3>
                <h3 class="copy em">
                    is like taking a business loan from a loan officer
                </h3>
                <h3 class="copy em push-down">
                     in the 1950’s:
                </h3>
                <h3 class="copy">
                    Sitting in front of a loan officer, 
                </h3>
                <h3 class="copy">
                    Putting your best suit on,  
                </h3>
                <h3 class="copy">
                    Bringing a presentation, and 
                </h3>
                <h3 class="copy">    
                    Baking them cakes (if that was your thing).
                </h3>
            </div><!-- .col-md-12 -->
        </div><!-- .row -->
    
        <div class="row intro-text">
            <div class="col-md-4">
                <h4>Problem 1: Perception</h4>
                <p>
                    With no priced financing round, no revenues, and no substantial assets, traditional finance theories can’t help entrepreneurs who want to establish the value of their startups.
                </p>        
                <p>
                    VeeSee is a tool that helps entrepreneurs get a pre-money valuation based on factors relevant to an early stage startup (and their potential investors).
                </p>
            </div><!-- .col-md-4 -->       
            <div class="col-md-4">
                <h4>Problem 2: Data</h4>
                <p>
                    Just as individuals were (perceived) to be unique, we look at startups as unique opportunities.
                </p>    
                <p>
                    Loan officers used to call merchants and ask if an individual paid their bills on time. Similarly, startups keep their information private, and standardizing disparate data across companies is time consuming    
                </p>
            </div><!-- .col-md-4 -->
            <div class="col-md-4">
                <h4>Solution:</h4> 
                <p>
                    1. Educate ourselves that companies, like people, are not that different from oneanother. They are all just trying to make money.
                </p>   
                <p>
                    2. Take lots of data, figure out which ones are important, standardize them, and look for trends 
                </p>
            </div><!-- .col-md-4 -->
        </div><!-- .row -->    
    </div><!-- .middle-align -->
    <a class="js-scroll-below-fold scroll-below-fold" href="#">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </a> 
</div><!-- .container.below-fold --> 

<div class="container below-fold full-height">
    <div class="middle-align">
    
        <div class="row intro-text">
            <div class="col-md-4 about-veesee">
                <h1>About</h1>
                <p>
                    We are two guys that wanted to help the industry by joining finance and data-modeling skills with programming and design expertise. Our goal is to take the guess work out of valuation, capacitate entrepreneurs to focus on building great companies, and investors to provide great guidance.
                </p>        
            </div><!-- .col-md-4 -->       
            <div class="col-md-4 about-founders">
                <img class="about-img img-circle" src="../img/keyvan-firouzi.jpg" alt="Keyvan Firouzi, CFA">
                <h2>Keyvan Firouzi, CFA</h2>
                <p class="contact-info">
                    <a href="https://twitter.com/keyvanfirouzi" target="_blank">@keyvanfirouzi</a>
                    <a href="mailto:mani@veesee.co">keyvan@veesee.co</a>
                </p>
                <p>
                    Keyvan is a data-junkie. He’s a partner at the Preferred Return, one of the largest valuation firm for early stage startups. He’s honed his data modeling skills working at the risk management group of PwC, and performing hundreds of startup valuations at Preferred Return.
                </p>    
            </div><!-- .col-md-4 -->
            <div class="col-md-4 about-founders">
                
                <img class="about-img img-circle" src="../img/mani-nilchiani.jpg" alt="Mani Nilchiani"> 
                <h2>Mani Nilchiani</h2>
                <p class="contact-info">
                    <a href="https://twitter.com/mani_art" target="_blank">@mani_art</a>
                    <a href="mailto:mani@veesee.co">mani@veesee.co</a>
                </p>
                <p>
                    Mani is a technologist, artist, teacher and musician. He earned his MFA in Design &amp; Technology at <a href="http://www.newschool.edu/parsons/" target="_blank">Parsons School of Design</a>. By day, he is a front-end engineer at <a href="http://thedailybeast.com" target="_blank">The Daily Beast</a> and by night he plays music and works on his <a href="http://maninilchiani.com" target="_blank">side projects</a>. 
                </p>   
            </div><!-- .col-md-4 -->
        </div><!-- .row -->    
    </div><!-- .middle-align -->
    <footer class="global-footer bottom">
        &copy; 2015 VeeSee
    </footer>
</div><!-- .container.below-fold --> 