@import "../vendor/lesshat";

// vars
@color-red: rgb(253, 94, 99);

// global styles
html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// global components
.full-height {
	min-height: 100%;
}
.middle-align {
	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);	
}
.global-header {
	.navbar {
		background: rgba(255,255,255,.8);
		min-height: 100px;
	} 
	.global-nav {
		ul {
			margin-top: 35px;
		}
		li {
			margin-left: 10px;
		}
		a {
			color: @color-red;
			font-family: bebas_neuebook;
			font-size: 1.4em;
			padding-top: 10px;
			padding-bottom: 10px;
			letter-spacing: 2px;
		}
		.highlight {
			.border-radius(3px);
			color: white;
			background-color: @color-red;
		}
		.nabvar-brand {
			width: 71px;
			height: 71px;
			display: inline-block;
			margin-top: 5px;
		}
	}
}
.global-footer {
	&.bottom {
		position: absolute;
		bottom: 0;
	}
	color: rgba(200,200,200,1);
	font-family: bitterregular;
	margin: 15px 0;
	font-size: .7em;
	letter-spacing: 1px;
}
h1, h2, h3 {
	font-family: bitterbold;
}
.underline {
	border-bottom: 2px solid @color-red;
}
.red {
	color: @color-red;
}

// home page
.above-fold {
	padding-top: 80px;
}
.below-fold {
	position: relative;
	.intro-text {
		margin-top: 60px;
	}
}
.first-title,
.tagline {
	color: white;
	display: inline-block;
	float: left;
	clear: both;
}
.first-title {
	line-height: .8;
	font-size: 4em;
	border-bottom: 3px solid white;
}
.tagline {
	font-family: bitterregular;
	margin: 0;
	letter-spacing: 4px;
	font-size: 1.9em;
	line-height: .7;
}
.play-movie {
	display: inline-block;
	float: left;
	clear: both;	
	margin-top: 40px;
	font-size: 2.5em;
	letter-spacing: 1px;
	font-family: bebas_neuebook;
	text-transform: uppercase;
	color: white;
	.transition(all .5s ease-in);
	&:hover {
		color: white;
		text-decoration: underline;
		.glyphicon-play {
			margin-left: 15px;
			color: white;
			
		}	
	}
	&:active, &:visited {
		color: white;
	}
	.glyphicon-play {
		float: right;
		font-size: .5em;
		line-height: 1.8;
		margin-left: 10px;
		border: 2px solid white;
		.border-radius(50%);
		width: 40px;
		height: 40px;
		margin-top: 8px;
		padding-left: 10px;
		padding-top: 0;
		.transition(all .3s ease-out);
		color: white;
	}
}
.movie-screenshot {
	position: absolute;
	width: 100%;
	background: url('../../img/movie-screenshot.png') 0 0 no-repeat;
	background-size: cover;
	z-index: -1;
}
.inner {
	background: #ccc;
}
h3.copy {
	color: @color-red;
	//border-bottom: 2px solid @color-red;
	text-decoration: underline;
	font-size: 2em;
	display: inline-block;
	clear: both;
	float: left;
	font-family: bitterregular;
	line-height: 1.2;
	margin: 0;
	&.em {
		font-family: bitterbold_italic;
	}
	&.push-down {
		margin-bottom: 15px;
	}
}
.intro-text {
	h4 {
		color: @color-red;
		font-family: bebas_neuelight;
		font-size: 1.8em;
	}
	p {
		font-family: bitterregular;
	}
}


.noselect() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


body {
	.noselect();
	background: white;
	color: black;	
	font-size: 16px;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

} // body
::-moz-selection { 
    color: red;
    background: yellow;
} // ::-moz-selection
::selection {
    color: #333; 
    background: #eee;
} // ::selection

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	letter-spacing: 1px;
	font-style: capitalize;
} // h1, h2, h3, h4, h5, h6 

.evaluators-container {
	
	.evaluator {
		
		.title {
			text-transform: capitalize;
			margin-bottom: 100px;
			text-align: center;
		
		} // .title

		.slider {
			
			outline: 1px solid transparent;
			height: .2em;
			
			.ui-slider-handle {
				outline: 1px solid transparent;
				top: -.6em;
				background-color: white;
				.box-shadow(rgba(255, 255, 255, 0.6) 0px 0px 30px 100px);
				.border-radius(50%);
			} // .ui-slider-handle

			.ui-state-default {
				background: white;	
			} // .ui-state-default
		
		}

		.breakpoints {
			margin-top: 60px;
			font-weight: 300;
			font-size: 90%;
			li {
				width: 21%;
				margin-left: 1.375rem;	
				vertical-align: top;
			} // li
		} // .breakpoints 

	} // .evaluator

	.calculate {
		display: inline-block;
		margin-top: 30px;
		position: relative;
		left: 50%;
		.transform(translateX(-50%));
		border : 1px solid #333;
		padding: .8em;
		.border-radius(3px);
		color: #333;
		.transition(all .2s ease-in);
		text-decoration: none;
		&:hover, &:focus {
			background: #000;
			color: white;
		}
	} // .calculate

	.navigation {
		position: absolute;
		width: 100%;
		top: 150px;
		.transform(translateY(-50%));
		.prev, .next {
			position: absolute;
			.transition(all .2s ease-in-out);
			.opacity(.5);
			&:hover,
			&:focus {
				.opacity(1);
				.transform(scale(1.5));
			}
		}
		.next {
			right: 0;
		}
		.prev {
			left: 0;
		}
	}


} // .evaluators-container

.home {
	.start {
		display: inline-block;
		margin-top: 30px;
		position: relative;
		left: 50%;
		.transform(translateX(-50%));
		border : 1px solid #333;
		padding: .8em;
		.border-radius(3px);
		color: #333;
		.transition(all .2s ease-in);
		text-decoration: none;
		&:hover, &:focus {
			background: #000;
			color: white;
		}
	} // .calculate
}


